/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

input::placeholder, .ql-editor::before {
  color: #888;
}

input:focus, .ql-editor:focus {
  outline: none;
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #ddd;
}

.ql-container.ql-snow {
  border: none;
}

.custom-file-input {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.custom-file-input:hover {
  background-color: #0056b3;
}

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.post-container {
  display: flex;
  align-items: flex-start;
  max-height: 250px; 
  overflow: hidden; 
  cursor: pointer;
}

.post-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.post-text {
  flex: 3;
  margin-right: 20px;
}

.post-image {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.post-image img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #f9c152; /* Adjust this to match your logo's yellow */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 48px;
}

.footer-social-icons a {
  color: white;
  margin: 0 8px;
  transition: color 0.3s;
}

.footer-social-icons a:hover {
  color: #333;
}

.footer-text {
  text-align: center;
  color: white;
}
